<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<table border="1" rules="all" width="600">
		<tr>
			<th>类别</th>
			<th>内容</th>
			<th>作者</th>
		</tr>
			{foreach $list as $rows}
                            <tr>
				<td>{$rows['Title']}</td>
				<td>{$rows['Contents']}</td>
				<td>{$rows['Author']}</td>
                                <td><input type="button" value="删除" onclick="location.href='index.php?p=del&pt=Admin&c=products&id={$rows['Id']}'"></td>
                            </tr>
			{/foreach}
	</table>
</body>
</html>